.App {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-items: stretch;
}

.App > div {
  flex: 1 1 0px;
  display: flex;
  overflow: hidden;
}

.AppFigure > div {
  overflow: auto !important;
}